[submodule "Packages/CoffeeScript"]
	path = Packages/CoffeeScript
	url = https://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "Packages/SublimeLinter"]
	path = Packages/SublimeLinter
	url = git://github.com/SublimeLinter/SublimeLinter.git
[submodule "Packages/MarkdownEditing"]
	path = Packages/MarkdownEditing
	url = git://github.com/ttscoff/MarkdownEditing.git