[submodule "Packages/CoffeeScript"]
	path = Packages/CoffeeScript
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "Packages/SublimeLinter3"]
	path = Packages/SublimeLinter3
	url = https://github.com/SublimeLinter/SublimeLinter3.git
[submodule "Packages/MarkdownEditing"]
	path = Packages/MarkdownEditing
	url = git://github.com/ttscoff/MarkdownEditing.git
[submodule "Packages/GBK"]
	path = Packages/GBK
	url = git://github.com/akira-cn/sublime-gbk.git
[submodule "Packages/GitGutter"]
	path = Packages/GitGutter
	url = git://github.com/jisaacks/GitGutter.git
[submodule "Packages/Base16"]
	path = Packages/Base16
	url = https://github.com/chriskempson/base16-textmate.git
[submodule "Packages/SchemeCycler"]
	path = Packages/SchemeCycler
	url = https://github.com/rrerolle/sublime-scheme-cycler.git
[submodule "Packages/Theme - Brackets"]
	path = Packages/Theme - Brackets
	url = https://github.com/SalvoGentile/brackets-theme.git
[submodule "Packages/Color Scheme - Br4ckets"]
	path = Packages/Color Scheme - Br4ckets
	url = https://github.com/l4ci/Br4ckets-Theme.git
